{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card border-dark  card mb-15 my-10 mt-1" style="width: 60%;">
				<h1 class="card-header border-success">О нас</h1>
                <div class="card-body text-dark">
                    <p class="card-text ">Группа ПУОР22-1м, Участники проекта:
						<li>  Асташкин Никита, nikita@mail.ru</li>
						<li>  Епишкина Алена, alena@mail.ru</li>
						<li>  Унтилова Арина, arina@mail.ru</li>
						<li>  Солуянова Екатерина, katya@mail.ru</li>
						<li>  Соболь Наталья, natalya@mail.ru</li>
					</p>
                </div>
				<p class="card-footer">Контактный телефон: +7(966)123-45-67</p>
            </div>
        </div>
    </div>

{% endblock content %}