{% extends 'base_new.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-3">
       <h1>
          <strong>Авторизация</strong>
        </h1>
        {% if session.logged_in %} 
        <div align="left">
            <h4>Текущий пользователь: {{ session.username }}</h4><br/>
{#            <a href="/logout">Выйти</a>#}
             <a href="/logout" id="logout-btn" class="btn btn-danger  btn-lg" role="button">Выйти</a>
            <br/>
            <br/>
        </div>
        {% endif %}

        <div align="left">
            <a data-target="#myModal" role="button" class="btn btn-success btn-lg" background-color = "#8064A2" data-toggle="modal" >
                <span > Войти </span>
            </a>
        </div>

        <h1>
          <strong>Регистрация</strong>
        </h1>
        <div align="left">
            <a data-target="#myModal_reg" role="button" class="btn btn-success btn-lg" background-color = "#8064A2" data-toggle="modal" >
                <span > Зарегистрироваться </span>
            </a>
        </div>
    </div>

{#    Окно Авторизации#}
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" text-align= "right">X</button>
                    <h4 class="modal-title" text-align= "left"></h4>
                </div>
                <div class="modal-body">
                    <label>Логин</label>
                    <input type="text" name="username" id="username" class="form-control"/>
                    <br/>
                    <label>Пароль</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <br/>
                    <button type="button" name="login-button" id="login-button" class="btn btn-primary btn-lg">Войти</button>
                </div>
            </div>
        </div>
    </div>

{#    Окно Регистрации#}
    <div id="myModal_reg" class="modal fade">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" text-align= "right">X</button>
                    <h4 class="modal-title" text-align= "left"></h4>
                </div>
                <div class="modal-body">
                    <label>Почта</label>
                    <input type="text" name="email1" id="email1" class="form-control"/>
                    <br/>
                    <label>Логин</label>
                    <input type="text" name="username1" id="username1" class="form-control"/>
                    <br/>
                    <label>Пароль</label>
                    <input type="password" name="password1" id="password1" class="form-control">
                    <br/>
                    <label>Повторите пароль</label>
                    <input type="password" name="password21" id="password21" class="form-control">
                    <br/>
                    <button type="button" name="signup-button" id="signup-button" class="btn btn-primary btn-lg">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>

    <!--Script Area-->
{#    Для авторизации#}
    <script>
        $(document).ready(function(){
            $("#login-button").click(function(){
                var username = $('#username').val();
                var password = $('#password').val();
                if (username != "" && password != "")
                {
                    $.ajax({
                        url: "/login_modal",
                        method: "POST",
                        data: {username:username, password:password},
                        success: function(data){
                            alert(data);
                            if (data == 'No-data') {
                                var a = 1
                                {#alert("Invalid Account or Password!!")#}
                            }
                            else
                            {
                                $('#loginModal').hide();
                                location.reload();
                            }
                        }
                    })
                } else {
                    var a = 1
                    {#alert("Поля не заполнены!")#}
                }

            });
        });
    </script>

{#    Для регистрации#}
    <script>
        $(document).ready(function(){
            $("#signup-button").click(function(){
                var email = $('#email1').val();
                var username = $('#username1').val();
                var password = $('#password1').val();
                var password2 = $('#password21').val();
                if (username != "" && password != "" && email != "" && password2 != "")
                {
                    $.ajax({
                        url: "/registration_modal",
                        method: "POST",
                        data: {email:email, username:username, password:password, password2:password2},
                        success: function(data){
                            alert(data);
                            if (data == 'No-data') {
                                var a = 1
                                {#alert("Invalid Account or Password!!")#}
                            }
                            else
                            {
                                $('#RegModal').hide();
                                location.reload();
                            }
                        }
                    })
                } else {
                    var a = 1
                    alert("Поля не заполнены!")
                }

            });
        });
    </script>


{% endblock content %}