{% extends "base.html" %}

{% block content %}

	<div class="container">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in posts.items %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author.name }} | {{ post.created_on}}  </p>

                            <p class="card-text">{{post.body}}</p>
                            <a href="{{ url_for('main.article',blog=post.id) }}" class="btn btn-primary">Подробнее</a>
                        </div>

                    </div>
                {% endfor %}

            </div>
            {% block sidebar %}
                {% include 'sidebar.html' %}
            {% endblock sidebar %}
        </div>
    </div>


{% endblock %}



{% block pagination %}
<div class="pagination justify-content-center">
 <span class="step-links">
  {% if posts.page != 1 %}
	  <a href="{{ url_for('main.articles' , page=posts.prev_num) }}">&laquo; Предыдщая   </a>
  {% endif %}
    <span class="current">
  Страница   {{ posts.page }} из {{ posts.pages }}
    </span>
  {% if posts.page!=posts.pages %}
		<a href="{{ url_for('main.articles' , page=posts.next_num) }}">     Следующая &raquo;</a>
  {% endif %}
  </span>
</div>
{% endblock %}

